# Ignore root node_modules
/node_modules/

# Ignore VSCode settings
.vscode/

# Ignore pnpm store
.pnpm-store/

packages/*/node_modules/
packages/*/tests/
packages/*/dist/

# Ignore specific sub-projects
packages/elep-example/
packages/elep-renderer/
packages/create-elep/